{% macro displaySources(all_news) %}

{% for news in all_news %}

<div class="col-sm-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ news.url }}" target="_blank" data-toggle="tooltip" data-placement="top"
                    title="Click to visit {{news.name}}">
                    {{news.name}}
                </a>
                <p>{{ news.language }}</p>
            </h5>
            <p class="card-text">{{news.description}}</p>
            <p>{{news.category}}</p>
            <a href="/source/{{ news.id }}" class="btn btn-primary">Visit source</a>
        </div>
    </div>
</div>

{% endfor %}

{% endmacro %}